@charset "UTF-8";

/* Mobile first 

Colors 

Green: #49a09d
Purple: #5f2c82

*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans JP', sans-serif;
}

body, html {
    background-color:#5f2c82 ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

section {
    background-color: white;
    margin: 0px;
    width: 300px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
}

div#image {
    background-image: url(../images/pexels.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 190px;
    
}

div#form {
    background-color: white;
    height: 310px;
}

div#form > h1 {
    text-align: center;
    padding: 5px;
}

div#form > p {
    text-align: center;
}

section  label {
    display: none;
}

section > div > form > div > span.material-icons {
    background-color: blue;
    
}


