@charset "UTF-8";

/* Mobile first 

Colors 

Green: #49a09d
Purple: #5f2c82

*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans JP', sans-serif;
}

body, html {
    background-color:#5f2c82 ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

section {
    background-color: white;
    margin: 0px;
    width: 300px;
    height: 520px;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
    transition: width 0.3s, height 0.3s ;
    transition-timing-function: ease;
}

div#image {
    background-image: url(../images/pexels.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 190px;
    
}

div#form {
    background-color: white;
    height: 310px;
}

div#form > h1 {
    text-align: center;
    padding: 5px;
}

div#form > p {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

div.login {
    margin: 0px 10px 15px 10px;
    background-color: #5f2c82;
    border-radius: 8px;
}

input.login {
    background-color: rgb(189, 189, 248);
    width: calc(100% - 40px);
    display: inline-block;
    height: 26px;
    transform: translate(2px, -5px);
    border-radius: 8px;
}

input.login:focus-within {
    background-color: white;
    font-size: 1em;
}

section  label {
    display: none;
}

section > div > form > div > span.material-icons {
    background-color: #5f2c82;
    color: white;
    padding: 3px;
    margin: 3px 0px 0px 0px;
    width: 26px;
    box-sizing: border-box;

}

input.button {
    display: block;
}

form > input[type="submit"] {
    background-color: rgb(189, 189, 248);
    color: white;
    margin: 0px 10px 15px 10px;
    width: 95%;
    height: 34px;
    margin: auto;
    border-radius: 8px;
}

form > input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(135, 135, 239);
}

form > a {
    color: rgb(135, 135, 239);
    text-align: center;
    font-size: .8em;
    margin-top: 10px;
    display: block;
}

form  a:hover {
    color: rgb(138, 2, 249);
}

/*

Forgot password button

form > input[type="button"] {
    background-color: rgb(191, 137, 222);
    margin: 0px 10px 15px 10px;
    width: 95%;
    height: 34px;
    margin: auto;
    border-radius: 8px;
    margin-top: 15px;
} */


